page-my-listings {
    #container {
        display: inline-flex;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    #content {
        width: inherit;
        height: fit-content;
        position: relative;
        margin-top: 56px;
    }

    #listingDetails {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .item .item-button {
        padding: 0 0.5em;
        height: 35px;
        font-size: 1.7rem;
    }

    #noListingsImage {
        background: url(../../assets/imgs/noCars.png);
        width: 100px;
        height: 100px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    #noListingsContainer {
        width: 75%;
        margin-left: auto;
        margin-right: auto;

    }

    #addAListingsBtn {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border-color: #ffc977;
        color: #ffc977;
    }

    #noListingsTitle {
        font-size: 2rem;
        color: black;
        font-weight: 300;
        margin-bottom: 15px;
    }

    #noListingsSubText {
        color: black;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 20px;
    }
}
