<!--
  Generated template for the MyListingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-toolbar>
  <button ion-button menuToggle left>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    My Listings
  </ion-title>
</ion-toolbar>

<ion-content class="home-bg">
  <div id="container">
    <div id="content">

      <div id="noListingsContainer" [hidden]="userHasListings()">
        <div id='noListingsImage'></div>
        <div id='noListingsTitle'>You don't have any listings!</div>
        <div id='noListingsSubText'>Add a listing to be able to view it here</div>
        <button id='addAListingsBtn' ion-button block outline (click)='goToPostARide()'>Add a listing</button>
      </div>

      <div id="listingMargin" [hidden]="!userHasListings()">
        <ion-card *ngFor="let listing of listings; let i = index">
          <ion-card-content>
            <div id="lhs">
              <div id="carImageHolder"></div>
              <div id="vehicleDetails">
                <div id="vehicleDetailsText">{{ listing.make }} {{ listing.model }}</div>
              </div>
            </div>
            <div id="rhs">
              <div id="tillImageEnd">
                <div class="QuarterSeparator">
                  <div class="listingTitle">From:</div>
                  <div class="listingText">{{ listing.meetingPoint.split(",")[0] }} {{ listing.meetingPoint.split(",")[1] }} {{ listing.meetingPoint.split(",")[2]
                    }}
                  </div>
                </div>
                <div class="QuarterSeparator">
                  <div class="listingTitle">To:</div>
                  <div class="listingText">{{ listing.destination.split(",")[0] }} {{ listing.destination.split(",")[1] }} {{ listing.destination.split(",")[2]
                    }}
                  </div>
                </div>
                <div class="QuarterSeparator">
                  <div class="listingTitle">When:</div>
                  <div class="listingText">{{ getFormattedDateTime(i) }}</div>
                </div>
              </div>
              <div class="lastItem">
                <div class="IconSeparator" [style.width]="actionsToTake(i) ? '33.3%' : '50%' ">
                  <i class="fas fa-couch leftHandSideIcon"></i>
                  <p id="numSeats rightHandSideIcon">{{ listing.seatsAvailable }}</p>
                </div>
                <div class="IconSeparator" [style.width]="actionsToTake(i) ? '33.3%' : '50%' ">
                  <i class="fas fa-luggage-cart leftHandSideIcon"></i>
                  <i class="fas fa-check rightHandSideIcon" *ngIf="listing.storageSpace"></i>
                  <i class="fas fa-times rightHandSideIcon" *ngIf="!listing.storageSpace"></i>
                </div>
                <div class="IconSeparator" id="actionButton" [hidden]="!actionsToTake(i)" [style.width]="actionsToTake(i) ? '33.3%' : '50%' ">
                  <i class="fas fa-exclamation-circle"></i>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>