<!--
  Generated template for the RequestToSharePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>request-to-share</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="home-bg">
  <div id='container'>
    <div id='content'>
      <div id="shareContent">
        <div id='shareImage'></div>
        <div id='success' *ngIf="successfulRequest">Your request has been sent</div>
        <div id='fail' *ngIf="failedRequest">There was a problem with your request. Please try again later</div>
      </div>
    </div>
  </div>
</ion-content>
