<!--
  Generated template for the ReviewRideShareRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-toolbar>
  <button ion-button menuToggle left>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    Review share requests
  </ion-title>
</ion-toolbar>

<ion-content class="home-bg">
  <div id="container">
    <div id="content">
      <div id="requestMargin">
        <div *ngFor="let listing of listings; let i = index">
          <div *ngFor="let shareRequest of listing.whoWantsToCome; let j = index">
            <ion-card>
              <ion-grid>
                <ion-card-content>
                  <ion-col>
                    <div id="requestImageContainer">
                      <div id="requestImage"></div>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="lastItem">
                      <div class="HalfHorizontalSeparator">
                        <button (click)="acceptShareRequest(i, j)" class="iconButton">
                            <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
                          </button>
                      </div>
                      <div class="HalfHorizontalSeparator">
                        <button (click)="rejectShareRequest(i, j)" class="iconButton">
                          <ion-icon name="close-circle" color="danger"></ion-icon>
                        </button>
                      </div>
                    </div>
                    <div id="tillImageEnd">
                      <div class="QuarterSeparator">
                        <div class="requestTitle">From:</div>
                        <div class="requestText" *ngIf="shareRequest.firstName">{{ shareRequest.firstName }} {{ shareRequest.lastName }}</div>
                      </div>
                      <div class="QuarterSeparator">
                        <div class="requestTitle">To:</div>
                        <div class="requestText" *ngIf="shareRequest.contactNum"> {{ shareRequest.contactNum }}</div>
                      </div>
                    </div>
                  </ion-col>
                </ion-card-content>
              </ion-grid>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>