<!--
  Generated template for the RideListingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-toolbar>

  <ion-header>
    <link href='https://fonts.googleapis.com/css?family=Ribeye' rel='stylesheet'>
    <ion-navbar>
      <ion-title>
        Listing Details
      </ion-title>
    </ion-navbar>
  </ion-header>
  <!-- <button ion-button left>
    <ion-icon name="md-arrow-round-back" (click)="goBack()"></ion-icon>
  </button> -->

</ion-toolbar>

<ion-content class="home-bg">
  <div id="container">
    <div id="content">
      <div id="listingDetails"> 
        <ion-item *ngIf="listing.firstName">
          <p>Listed by: {{ listing.firstName }} {{ listing.lastName }}</p>
          <p>Contact Number: {{ listing.contactNum }}</p>
        </ion-item>
        <ion-item *ngIf="listing.make">
          Vehicle: {{ listing.make }} {{ listing.model }} ({{ listing.year }})
        </ion-item>
        <ion-item *ngIf="listing.departureDate">
          Departs At: {{ listing.departureDate }} {{ listing.departureTime }}
        </ion-item>
        <ion-item *ngIf="listing.destination">
          Destination: {{ listing.destination }}
        </ion-item>
        <ion-item *ngIf="listing.meetingPoint">
          Meeting Point: {{ listing.meetingPoint }}
        </ion-item>
        <ion-item *ngIf="listing.seatsAvailable">
          Seats Available: {{ listing.seatsAvailable }}
        </ion-item>
        <ion-item *ngIf="listing.storageSpace">
          Storage Space: {{ listing.storageSpace }}
        </ion-item>
        <ion-item *ngIf="!dontShowRequestToShare">
          <button ion-button block color='secondary' (click)='requestToShare()' [disabled]="!allowedToRequest()">Request to Share</button>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>