page-find-a-ride {
    #container {
        display: inline-flex;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    #content {
        width: inherit;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        position: relative;
        margin-top: 56px;
    }

    #listingDetails {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .item .item-button {
        padding: 0 0.5em;
        height: 35px;
        font-size: 1.7rem;
    }

    #noListingsContainer {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    #noListingsImage {
        background: url(../../assets/imgs/noCars.png);
        width: 100px;
        height: 100px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    #noListingsContainer {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    #addAListingsBtn {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border-color: #ffc977;
        color: #ffc977;
    }

    #noListingsTitle {
        font-size: 1.9rem;
        color: black;
        font-weight: 300;
        margin-bottom: 15px;
    }

    #noListingsSubText {
        color: black;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .spinner svg {
        stroke: skyblue;
        fill: skyblue;
    }

    .has-refresher > .scroll-content {
        background-color: transparent;
    }

    .has-refresher > .scroll-content {
        margin-top: 0px;
        border-top: none;
    }

    ion-refresher {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 2;
        display: none;
        width: 100%;
        height: 60px;
        padding-bottom: 5px;
    }
}
