page-find-a-ride {
    #container {
        display: inline-flex;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    #content {
        width: inherit;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        position: relative;
        top: 10%;
    }

    #listingDetails {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .item .item-button {
        padding: 0 0.5em;
        height: 35px;
        font-size: 1.7rem;
    }
}
