// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.activeHighlight {
    background-color: rgb(246, 248, 246);
}

.titleTxt {
    text-align: center;
}

.toolbar-background-md {
    border-color: #b0b0b0;
    background: #75AF74;
}

.bar-button {
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}

.toolbar-title-md {
    color: #fff !important;
    font-weight: 400 !important;
}

.toolbar-background {
    background: #75af74;
}

.toolbar-title-ios {
    font-weight: 400;
    color: #fff;
}

.home-bg {
    background-image: url(../assets/imgs/home_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .content {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}