<ion-menu id='navMenu' [content]='mycontent'>
    <ion-content>
        <div id='profileArea' (click)='goToProfile()'>

        </div>
        <ion-list>
            <div class='navUserArea'>
                <div class='navUserIconArea'>
                    <div class="navUserOutline navProfileNoImg">
                        <div class='navUserIcon'></div>
                    </div>
                </div>
                <div class='navUserRHSArea'>
                    <div class='navHelloUser' *ngIf='checkLoggedIn()'>Hello, {{this.loginSystem.getUser().firstName}}</div>
                    <div class='navHelloUser' *ngIf='!checkLoggedIn()'>Hello, Guest!</div>
                </div>
            </div>
            <button menuClose ion-item *ngFor='let p of pages' [class.activeHighlight]='checkActive(p)' (click)='openPage(p)'>
                {{p.title}}
            </button>
            
            <button class='navigationLoginBtn' menuClose *ngIf='!checkLoggedIn()' (click)='goToLoginPage()'>
                <div class='navLogoutText'>
                    Login
                </div>
                <ion-icon class='navIcon' name="ios-exit-outline"></ion-icon>
            </button>
            <button class='navigationLoginBtn' menuClose *ngIf='checkLoggedIn()' (click)='logout()'>
                <div class='navLogoutText'>
                    Logout
                </div>
                <ion-icon class='navIcon' name="ios-power"></ion-icon>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]='rootPage'></ion-nav>