<ion-menu id='navMenu' #navMenu [content]='mycontent'>
    <ion-content>
        <ion-list>
            <div menuClose="navMenu" class='navUserArea' [style.cursor]="checkLoggedIn() ? 'pointer' : 'auto' " (click)='goToProfile()'>
                <div class='navUserIconArea'>
                    <div class="navUserOutline navProfileNoImg">
                        <div class='navUserIcon'></div>
                    </div>
                </div>
                <div class='navUserRHSArea'>
                    <div class='navHelloUser' *ngIf='checkLoggedIn()'>Hello, {{this.usersProvider.getUser().firstName}}</div>
                    <div class='navHelloUser' *ngIf='!checkLoggedIn()'>Hello, Guest!</div>
                </div>
            </div>
            <button menuClose="navMenu" ion-item *ngFor='let p of pages' [class.activeHighlight]='checkActive(p)' (click)='openPage(p)'>
                {{p.title}}
            </button>
            
            <button class='navigationLoginBtn' menuClose="navMenu" *ngIf='!checkLoggedIn()' (click)='goToLoginPage()'>
                <div class='navLogoutText'>
                    Login
                </div>
                <ion-icon class='navIcon' name="ios-log-in-outline"></ion-icon>
            </button>
            <button class='navigationLoginBtn' menuClose="navMenu" *ngIf='checkLoggedIn()' (click)='logout()'>
                <div class='navLogoutText'>
                    Logout
                </div>
                <ion-icon class='navIcon' name="ios-log-out-outline"></ion-icon>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav #mycontent [root]='rootPage'></ion-nav>