// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.activeHighlight {
    background-color: rgb(246, 248, 246);
}

.titleTxt {
    text-align: center;
}

.toolbar-background-md {
    border-color: #b0b0b0;
    background: #75AF74;
}

.bar-button {
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}

.toolbar-title-md {
    color: #fff !important;
    font-weight: 400 !important;
}

.toolbar-background {
    background: #75af74;
}

.toolbar-title-ios {
    font-weight: 400;
    color: #fff;
}

.home-bg {
    background-image: url(../assets/imgs/home_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

.content {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navigationLoginBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 50px;
    background-color: rgb(246, 248, 246);
}

.navUserArea {
    height: 100px;
    position: relative;
}

.navUserOutline {
    background-color:transparent;
    height:75px;
    width:75px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

.navProfileNoImg {
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0, -50%);
}

.navUserIcon {
    background: url('../assets/imgs/userBlank.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.navUserIconArea {
    float: left;
    height: inherit;
    width: 100px;
}

.navUserRHSArea {
    height: 100%;
    position: relative;
    margin-left: 100px;
}

.navHelloUser {
    font-size: 2rem;
    font-weight: 300;
    vertical-align: middle;
    text-align: left;
    padding-left: 5px;
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0, -50%);
}

.navLogoutText {
    font-family: inherit;
    font-size: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    margin-right: 3px;
}

.navIcon {
    font-size: 2.4rem;
    display: inline-block;
    vertical-align: middle;
}

button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
    margin-top: 22px;
}

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border: none;
}