page-login {
}

.login-bg {
  background-image: url(../assets/imgs/home_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.content #container {
  position: absolute;
  top: 50%;
  margin-top: -170px;
  left: 0;
  width: 100%;
}

.card {
  border-radius: 10px;
  height: 300px;
}

#loginTxt {
  font-family: "Ribeye", cursive;
  font-size: 4rem;
}

.card-header {
  padding-bottom: 0px;
}

#emailTxt,
#passwordTxt {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  color: #ffc977;
  font-size: 1.6em;
  vertical-align: middle;
  padding-right: 5px;
  width: 25px;
}

.item-ios .item-button {
  padding: 0 0.7em;
  height: 40px;
  font-size: 1.8rem;
}

.item-input ion-input,
.item-input ion-textarea {
  border-bottom: 1px solid #ffc977;
  box-shadow: 0 1px 0 0 #ffc977;
}

#inputTxt:focus + label {
  color: #ffc977;
}

ion-header {
  .toolbar {
    position: absolute;

    .toolbar-background {
      background: transparent;
      border: none;
    }
    .toolbar-title {
      color: #ffff;
    }
  }
}

.back-button-icon {
  color: #18c71e;
}

.back-button-text {
  color: #18c71e;
}
